In [1]:
import pandas as pd

### Series - 1 Dimensional

In [2]:
cars=pd.Series(["BMW","Toyota","Honda"])
cars

0       BMW
1    Toyota
2     Honda
dtype: object

In [4]:
colors=pd.Series(["Red","Green","Blue"])
colors

0      Red
1    Green
2     Blue
dtype: object

### DataFrame - 2 Dimensional

In [6]:
car_data= pd.DataFrame({"Car":cars,"Color":colors})
car_data

      Car  Color
0     BMW    Red
1  Toyota  Green
2   Honda   Blue