In [15]:
import pandas as pd
import numpy as np
heart_disease=pd.read_csv("../matplotlib/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
X=heart_disease.drop("target",axis=1)
y=heart_disease["target"]

In [7]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [8]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [9]:
from sklearn.ensemble import RandomForestClassifier
clf= RandomForestClassifier()

clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train,y_test=train_test_split(X,y,test_size=0.2)

In [14]:
clf.fit(X_train,y_train);

In [16]:
y_preds=clf.predict(X_test)
y_preds

array([1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0])

In [18]:
y_test

104    1
73     1
117    1
123    1
147    1
      ..
90     1
251    0
86     1
136    1
275    0
Name: target, Length: 61, dtype: int64

In [20]:
clf.score(X_train,y_train)

1.0

In [21]:
clf.score(X_test,y_test)

0.9016393442622951

In [22]:
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.85      0.92      0.88        25
           1       0.94      0.89      0.91        36

    accuracy                           0.90        61
   macro avg       0.90      0.90      0.90        61
weighted avg       0.90      0.90      0.90        61

In [24]:
confusion_matrix(y_test,y_preds)

array([[23,  2],
       [ 4, 32]])

In [25]:
accuracy_score(y_test,y_preds)

0.9016393442622951

In [31]:
np.random.seed(24)
for i in range(10,120,10):
    print(f"Trying model with {i} estimators...")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
    print(f"Model accuracy on test set: {clf.score(X_test,y_test)* 100:.2f}")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 81.97

Trying model with 20 estimators...
Model accuracy on test set: 88.52

Trying model with 30 estimators...
Model accuracy on test set: 85.25

Trying model with 40 estimators...
Model accuracy on test set: 86.89

Trying model with 50 estimators...
Model accuracy on test set: 86.89

Trying model with 60 estimators...
Model accuracy on test set: 85.25

Trying model with 70 estimators...
Model accuracy on test set: 85.25

Trying model with 80 estimators...
Model accuracy on test set: 90.16

Trying model with 90 estimators...
Model accuracy on test set: 86.89

Trying model with 100 estimators...
Model accuracy on test set: 90.16

Trying model with 110 estimators...
Model accuracy on test set: 81.97

In [42]:
clf=RandomForestClassifier(n_estimators=100).fit(X_train,y_train)
clf.score(X_test,y_test)

0.9344262295081968

In [48]:
import pickle
pickle.dump(clf,open("random_forest_model.pkl","wb"))

In [52]:
loaded_model=pickle.load(open("./random_forest_model.pkl","rb"))
loaded_model.score(X_test,y_test)

0.9344262295081968